.pulse-animation {
  padding-left: 6px;
  padding-right: 6px;
  position: relative;
  border: 1px solid red;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  font-size: 12px;
}

.circle-ripple {
  background-color: red;
  margin-right: 7px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  animation: ripple 0.9s linear infinite;
}

@keyframes ripple {
  0% {
    border-radius: 100%;
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.1), 0 0 0 1em rgba(255, 0, 0, 0.1),
      0 0 0 2em rgba(255, 0, 0, 0.1), 0 0 0 5em rgba(255, 0, 0, 0.1);
  }

  100% {
    border-radius: 100%;
    box-shadow: 0 0 0 1em rgba(255, 0, 0, 0.1), 0 0 0 2em rgba(255, 0, 0, 0.1),
      0 0 0 5em rgba(255, 0, 0, 0.1), 0 0 0 8em rgba(255, 0, 0, 0);
  }
}
